@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url(../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
    font-family: 'PlusJakartaSans-VariableFont_wght';
}

body {
    font-size: 16px;
    font-family: 'PlusJakartaSans-VariableFont_wght';
}

h2 {
    font-size: .87rem;
}

@media (min-width:976px) {
    h2 {
        font-size: 1.08rem;
    }
}